body {
    margin: 0; 
    font-family: sans-serif; 
    text-align: center; 
}

.tiles { 
    display: grid;  
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 200px); 
}

